
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="admin_dashboard_container">
    
        <h1>Idea Scores</h1>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script>
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
        
            socket.on('update_scores', function(data) {
                let scores = data.scores;
                let winner = data.winner;
        
                for (const [ideaId, ideaData] of Object.entries(scores)) {
                    document.getElementById(`judge_score_${ideaId}`).innerText = ideaData.judge;
                    document.getElementById(`audience_score_${ideaId}`).innerText = ideaData.audience;
                    document.getElementById(`total_score_${ideaId}`).innerText = ideaData.total;
                }
        
                // Update Winner
                if (winner && winner.name) {
                    document.getElementById("winner_name").innerText = winner.name;
                    document.getElementById("winner_score").innerText = winner.score;
                }
            });
        </script>
    
        

<table>
    <thead>
        <tr>
            <th>Idea</th>
            <th>Judge Score</th>
            <th>Audience Score</th>
            <th>Total Score</th>
        </tr>
    </thead>
    <tbody>
        {% for idea in ideas %}
        <tr>
            <td>{{ idea.name }}</td>
            <td id="judge_score_{{ idea.id }}">{{ idea.score_judge }}</td>
            <td id="audience_score_{{ idea.id }}">{{ idea.score_audience }}</td>
            <td id="total_score_{{ idea.id }}">{{ idea.total_score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Winner</h2>
<p><strong id="winner_name">
    {% if winner %}{{ winner.name }}
    {% else %}No winner yet{% endif %}</strong> 
     is the winner with a total score of <strong id="winner_score">
    {% if winner %}{{ winner.total_score }}{% else %}0{% endif %}</strong>🎉.</p>

       
    </div>
</body>
</html>



